[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "kenstevens.github.io"]
	path = kenstevens.github.io
	url = git@github.com:kenstevens/kenstevens.github.io.git
